.header {
    display: grid;
    grid-template-columns: repeat (6, 1fr);
    grid-template-rows: 100px;
}

.logo {
    display: grid;
    height: 64px;
    width: 64px;
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 96px;
}

.home .product .about .manufacturing {
    display: grid;
    font-family: 'Poppins', sans-serif;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 22px;
    color: rgba(0, 0, 0, 1);
}

.product .about .manufacturing {
    font-weight: 400;
}

.home {
    font-weight: 600;

    grid-column: 2/3;
    grid-row: 1/2;
}


.product {
    display: grid;
    font-family: 'Poppins', sans-serif;
}

.about {
    display: grid;
}

.manufacturing {
    display: grid;
}